@use '../components/' as *;

.notification {
  background-color: color('primary');
  color: color('light');

  &__container {
    top: 1.5rem;
  }
}

#error-notification {
  background-color: #af1818;
}