$color-primary: hsl(70, 76%, 39%);
$color-light: hsl(0, 0%, 100%);
$color-dark: hsl(0, 0%, 18%);

$colors: (
  'primary': (
    'base': $color-primary,
    'darker': darken($color-primary, 10),
    'lighter': lighten($color-primary, 10),
  ),
  'light': (
    'base': $color-light,
    'darker': darken($color-light, 20),
  ),
  'dark': (
    'base': $color-dark,
    'lighter': lighten($color-dark, 20),
  ),
);

$breakpoint-M: 768px;
$breakpoint-L: 992px;
$breakpoint-XL: 1200px;
$breakpoint-XXL: 1440px;

$breakpoints: (
  'medium': $breakpoint-M,
  'large': $breakpoint-L,
  'huge': $breakpoint-XL,
  'max': $breakpoint-XXL,
);
