* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: sans-serif;

  &:focus-visible {
    outline: hsl(0, 0%, 0%) solid 2px;
    border-radius: 0.25rem;
  }
}

nav {
  position: relative;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: hsl(0, 0%, 0%);
  display: block;
}

fieldset {
  min-width: auto;
}
