@use '../base/' as *;

// keeps content inside 1440px width max
html {
  max-width: 992px;
  margin: 0 auto;
  overflow-x: hidden;
}

body {
  background-color: color('light');
  color: color('dark');
}

a {
  color: color('dark');

  &:hover {
    text-decoration: underline;
  }
}

* {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:focus-visible {
    outline-color: color('primary');
  }
}
