@use '../pages/' as *;

.employees {
  padding-inline: 2rem;

  @include breakpoint('large') {
    padding: 0;
  }

  &__title {
    font-size: 1.25rem;
    padding-block: 1rem;
    text-align: center;
  }
}
