@use '../pages/' as *;

.home {
  margin-inline: auto;

  &__title {
    font-size: 1.25rem;
    padding-block: 1rem;
  }

  &__form,
  &__form-address-area {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 18rem;

    input,
    select {
      border: 1px solid color('dark');
      background-color: color('light');
      border-radius: 0.25rem;
      font-size: 1rem;
      padding: 0.25rem;

      &:focus-visible {
        border: 1px solid color('primary');
        outline-width: 1px;
      }

      // remove input number spinner
      &[type=number] {
        -moz-appearance: textfield;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
      }
    }
  }

  &__form-address-area {
    border: 1px dashed color('dark');
    border-radius: 0.5rem;
    padding: 0 1rem 1rem;

    legend {
      padding: 0 0.5rem 1rem 0;
      margin-left: -1rem;
    }
  }

  &__form-button {
    background-color: color('primary');
    color: color('light');
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    border-radius: 0.5rem;

    &:hover,
    &:focus {
      background-color: color('dark');
    }
  }
}